In [30]:
import os

import pandas as pd
import torch


DATA_DIR = 'data/'
NOTEEVENTS_PATH = os.path.join(DATA_DIR, 'NOTEEVENTS.csv')
ANNOTATION_PATH = os.path.join(DATA_DIR, 'ACTdb102003.csv')
DATASET_PATH = os.path.join(DATA_DIR, 'dataset.csv')

In [31]:
noteevents = pd.read_csv(NOTEEVENTS_PATH)

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [104]:
noteevents

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...
...,...,...,...,...,...,...,...,...,...,...,...
2083175,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581.0,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...
2083176,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con..."
2083177,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104.0,NaN,Family Meeting Note\nFamily meeting held with ...
2083178,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023.0,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...
2083179,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023.0,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...

In [39]:
len(noteevents.ROW_ID.unique()), len(noteevents.SUBJECT_ID.unique()), len(noteevents.HADM_ID.unique())

(2083180, 46146, 58362)

In [33]:
noteevents.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'CHARTDATE', 'CHARTTIME',
       'STORETIME', 'CATEGORY', 'DESCRIPTION', 'CGID', 'ISERROR', 'TEXT'],
      dtype='object')

In [42]:
annotation = pd.read_csv(ANNOTATION_PATH)
annotation

,HADM_ID,SUBJECT_ID,ROW_ID,ADVANCED.CANCER,ADVANCED.HEART.DISEASE,ADVANCED.LUNG.DISEASE,ALCOHOL.ABUSE,BATCH.ID,CHRONIC.NEUROLOGICAL.DYSTROPHIES,CHRONIC.PAIN.FIBROMYALGIA,DEMENTIA,DEPRESSION,DEVELOPMENTAL.DELAY.RETARDATION,NON.ADHERENCE,NONE,OBESITY,OPERATOR,OTHER.SUBSTANCE.ABUSE,SCHIZOPHRENIA.AND.OTHER.PSYCHIATRIC.DISORDERS,UNSURE
0,100103,3365,17170,0,0,0,0,08Apr16,0,0,0,0,0,0,1,0,JTW,0,0,0
1,100103,3365,17170,0,0,0,0,08Apr16,0,0,0,0,0,0,1,0,ETM,0,0,0
2,100137,27290,50828,0,0,0,0,08Apr16,0,0,0,0,0,0,1,0,JF,0,0,0
3,100137,27290,50828,0,0,0,0,08Apr16,0,0,0,0,0,0,1,0,JW,0,0,0
4,100473,5525,52670,0,0,0,0,18Feb16,0,0,0,0,0,0,1,0,JW,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2271,199807,23549,2787,0,1,1,0,07Dec15,0,0,0,0,0,0,0,0,ETM,0,0,0
2272,199883,7029,18731,0,0,0,1,18Feb16,0,0,0,0,0,1,0,0,JW,0,0,0
2273,199883,7029,18731,0,0,0,1,18Feb16,0,0,0,0,0,1,0,0,JF,0,0,0
2274,199884,1931,8180,0,1,0,0,16Mar16,0,0,0,1,0,0,0,0,DAG,0,0,0
2275,199884,1931,8180,0,1,0,0,16Mar16,0,0,0,1,0,0,0,0,JW,0,0,0

In [113]:
from collections import defaultdict


np.random.seed(42)

counts = defaultdict(int)
disagreement_count = 0
majority_annotation = []

# for (subject_id, hadm_id, row_id, operator_id), df in annotation.groupby(['SUBJECT_ID', 'HADM_ID', 'ROW_ID', 'OPERATOR']):
for (subject_id, hadm_id, row_id), df in annotation.groupby(['SUBJECT_ID', 'HADM_ID', 'ROW_ID']):
    counts[len(df)] += 1
    # if len(df) == 6:
    #     display(df[['SUBJECT_ID', 'HADM_ID', 'ROW_ID', 'OPERATOR', 'BATCH.ID', 'ADVANCED.LUNG.DISEASE']])
    labels = df[PHENOTYPE_NAMES].to_numpy()
    disagreement = np.where(np.sum(labels, axis=0) != len(labels), 1, 0) * np.where(np.sum(labels, axis=0) != 0, 1, 0)
    disagreement_count += np.sum(disagreement)
    majority = np.where(np.random.rand(labels.shape[1]) > 0.5, 1, 0)
    one_indices = np.nonzero(np.where(np.sum(labels, axis=0) > 0.5 * len(labels), 1, 0))
    zero_indices = np.nonzero(np.where(np.sum(labels, axis=0) < 0.5 * len(labels), 1, 0))
    majority[one_indices] = 1
    majority[zero_indices] = 0
    majority_annotation.append([subject_id, hadm_id, row_id, *majority])

majority_annotation = pd.DataFrame(
    majority_annotation,
    columns=['SUBJECT_ID', 'HADM_ID', 'ROW_ID'] + PHENOTYPE_NAMES)
display(majority_annotation)

print(f'Number of disagreements: {disagreement_count}')

,SUBJECT_ID,HADM_ID,ROW_ID,ADVANCED.HEART.DISEASE,ADVANCED.LUNG.DISEASE,ALCOHOL.ABUSE,CHRONIC.NEUROLOGICAL.DYSTROPHIES,CHRONIC.PAIN.FIBROMYALGIA,DEMENTIA,DEPRESSION,DEVELOPMENTAL.DELAY.RETARDATION,NON.ADHERENCE,NONE,OBESITY,OTHER.SUBSTANCE.ABUSE,SCHIZOPHRENIA.AND.OTHER.PSYCHIATRIC.DISORDERS,UNSURE
0,109,164029,15322,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,154,102354,7847,0,0,0,0,0,0,1,0,0,0,0,0,1,0
2,154,162891,7846,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,188,160697,20255,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,188,191517,20256,0,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,81444,100960,7834,0,1,0,0,0,0,0,0,0,0,0,0,1,0
840,85999,134661,36826,0,0,0,0,1,0,0,0,0,0,1,0,0,0
841,88206,155516,51338,0,0,0,0,0,0,0,0,0,1,0,0,0,0
842,94525,154715,54366,0,0,1,0,0,0,1,0,0,0,0,1,0,0
843,95722,150858,34672,0,0,1,0,0,0,0,0,0,0,0,0,0,0

Number of disagreements: 1218

In [114]:
counts

defaultdict(int,
            {3: 54,
             4: 68,
             2: 684,
             14: 8,
             10: 2,
             6: 6,
             18: 3,
             8: 11,
             7: 1,
             12: 1,
             5: 1,
             36: 3,
             16: 2})

In [119]:
dataset = pd.merge(majority_annotation, noteevents, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
dataset.to_csv(DATASET_PATH)
dataset

,SUBJECT_ID,HADM_ID,ROW_ID_x,ADVANCED.HEART.DISEASE,ADVANCED.LUNG.DISEASE,ALCOHOL.ABUSE,CHRONIC.NEUROLOGICAL.DYSTROPHIES,CHRONIC.PAIN.FIBROMYALGIA,DEMENTIA,DEPRESSION,...,UNSURE,ROW_ID_y,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,109,164029,15322,0,0,0,0,0,0,0,...,0,15322,2140-01-21,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2140-1-19**] ...
1,109,164029,15322,0,0,0,0,0,0,0,...,0,170721,2140-01-19,NaN,NaN,ECG,Report,NaN,NaN,Sinus rhythm\nLong P-R interval\nVoltage for S...
2,109,164029,15322,0,0,0,0,0,0,0,...,0,943335,2140-01-19,2140-01-19 10:40:00,NaN,Radiology,CT HEAD W/O CONTRAST,NaN,NaN,[**2140-1-19**] 10:40 AM\n CT HEAD W/O CONTRAS...
3,109,164029,15322,0,0,0,0,0,0,0,...,0,943340,2140-01-19,2140-01-19 10:51:00,NaN,Radiology,CHEST (PA & LAT),NaN,NaN,[**2140-1-19**] 10:51 AM\n CHEST (PA & LAT) ...
4,109,164029,15322,0,0,0,0,0,0,0,...,0,1261597,2140-01-19,2140-01-19 16:48:00,2140-01-19 17:05:00,Nursing/other,Report,15451.0,NaN,NPN 7A-7P\nSee carevue for specifics:\n\nBrief...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28423,95722,150858,34672,0,0,1,0,0,0,0,...,0,624481,2187-04-05,2187-04-05 09:49:00,2187-04-05 14:35:19,Nursing,Nursing Transfer Note,15225.0,NaN,"66F with Afib on coumadin, EtOH abuse, present..."
28424,95722,150858,34672,0,0,1,0,0,0,0,...,0,624382,2187-04-04,2187-04-04 17:39:00,2187-04-04 17:39:38,Nursing,Nursing Progress Note,15065.0,NaN,"Gastrointestinal bleed, other (GI Bleed, GIB)\..."
28425,95722,150858,34672,0,0,1,0,0,0,0,...,0,624383,2187-04-04,2187-04-04 17:39:00,2187-04-04 17:40:11,Nursing,Nursing Progress Note,15065.0,NaN,"Atrial Fibrillation, paroxysmal with DCCV [**2..."
28426,95722,150858,34672,0,0,1,0,0,0,0,...,0,624386,2187-04-04,2187-04-04 15:02:00,2187-04-04 17:42:08,Nursing,Nursing Progress Note,15065.0,1.0,"Atrial Fibrillation, paroxysmal with DCCV [**2..."
28427,95722,150858,34672,0,0,1,0,0,0,0,...,0,624387,2187-04-04,2187-04-04 17:39:00,2187-04-04 17:42:41,Nursing,Nursing Progress Note,15065.0,NaN,"Atrial Fibrillation, paroxysmal with DCCV [**2..."

In [120]:
dataset.CATEGORY.unique()

array(['Discharge summary', 'ECG', 'Radiology', 'Nursing/other', 'Echo',
       'Physician ', 'Nursing', 'Respiratory ', 'Social Work',
       'Rehab Services', 'Nutrition', 'Case Management ', 'General',
       'Pharmacy'], dtype=object)